*{
	margin: 0;
	padding: 0;
}
body{
	background: black;
}
#main{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: relative;
}
.box{
	padding: 20px 0 0 20px;
	float: left;
}
.pic{
	padding: 5px;
	height: auto;
	border-radius: 5px;
	box-shadow:0 0 100px rgba(81 ,203,238,1) inset ,0 0 100px rgba(81 ,203,238,1); 
}
.pic img{
	width: 200px;
	height: auto;
}

