<!DOCTYPE html>
<html>
  <head>
    <title>HELLO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% data.forEach((item)=>{ %>
      <a href="<%=item%>"><%=item%></a>
    <% }) %>
  </body>
</html>
