<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../blink/style.css">
	<title>Blink eyes</title>
	<style>*{
	margin: 0;
	padding: 0;
	background: black;
}
#EYE{
	position: relative;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	background: none;
	transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
}
#Outer{
	position: absolute;
	width: 400px;
	height: 400px;
	border-radius: 50% 50%;
	margin: 0 auto;
	border:10px solid white;
	background: none;
	-webkit-box-shadow:0 0 100px rgba(81 ,203,238,1) inset ,0 0 200px rgba(81 ,203,238,1);
	-moz-box-shadow:0 0 100px rgba(81 ,203,238,1) inset ,0 0 200px rgba(81 ,203,238,1);
	-o-box-shadow:0 0 100px rgba(81 ,203,238,1) inset ,0 0 200px rgba(81 ,203,238,1);
	-ms-box-shadow:0 0 100px rgba(81 ,203,238,1) inset ,0 0 200px rgba(81 ,203,238,1);
	box-shadow:0 0 100px rgba(81 ,203,238,1) inset ,0 0 200px rgba(81 ,203,238,1);
	animation: blink 2s  infinite ease-out;
	-moz-animation: blink 2s  infinite ease-out;
	-webkit-animation: blink 2s  infinite ease-out;
	-ms-animation: blink 2s  infinite ease-out;
	-o-animation: blink 2s  infinite ease-out;
}
#Inner{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50% 50%;
	margin: 135px;
	background: white;
	-webkit-box-shadow:0 0 10px rgba(81 ,203,238,1) inset ,0 0 200px rgba(81 ,203,238,1);
	-moz-box-shadow:0 0 10px rgba(81 ,203,238,1) inset ,0 0 200px rgba(81 ,203,238,1);
	-o-box-shadow:0 0 10px rgba(81 ,203,238,1) inset ,0 0 200px rgba(81 ,203,238,1);
	-ms-box-shadow:0 0 10px rgba(81 ,203,238,1) inset ,0 0 200px rgba(81 ,203,238,1);
	box-shadow:0 0 10px rgba(81 ,203,238,1) inset ,0 0 200px rgba(81 ,203,238,1);
	animation: pupil 2s  infinite ease-out;
	-moz-animation: pupil 2s  infinite ease-out;
	-webkit-animation: pupil 2s  infinite ease-out;
	-ms-animation: pupil 2s  infinite ease-out;
	-o-animation: pupil 2s  infinite ease-out;
}
@keyframes blink {
	0% {
		transform:rotateX(90deg);
	}
	30% {
		transform: scale(1.1);
	}
	35% {
		transform: scale(1);
	}
	60%{
		transform:rotateX(90deg);
	}
	65%{
		transform:rotateX(0deg);
	}
	70%{
		transform:rotateX(90deg);
	}
	90%{
		transform:rotateX(0deg);
	}
	95%{
		transform:rotateX(90deg);
	}
	100%{
		transform:rotateX(0deg);
	}
}
@-moz-keyframes blink {
	0% {
		transform:rotateX(90deg);
	}
	30% {
		transform: scale(1.1);
	}
	35% {
		transform: scale(1);
	}
	60%{
		transform:rotateX(90deg);
	}
	65%{
		transform:rotateX(0deg);
	}
	70%{
		transform:rotateX(90deg);
	}
	90%{
		transform:rotateX(0deg);
	}
	95%{
		transform:rotateX(90deg);
	}
	100%{
		transform:rotateX(0deg);
	}
}
@-webkit-keyframes blink {
	0% {
		transform:rotateX(90deg);
	}
	30% {
		transform: scale(1.1);
	}
	35% {
		transform: scale(1);
	}
	60%{
		transform:rotateX(90deg);
	}
	65%{
		transform:rotateX(0deg);
	}
	70%{
		transform:rotateX(90deg);
	}
	90%{
		transform:rotateX(0deg);
	}
	95%{
		transform:rotateX(90deg);
	}
	100%{
		transform:rotateX(0deg);
	}
}
@-ms-keyframes blink {
	0% {
		transform:rotateX(90deg);
	}
	30% {
		transform: scale(1.1);
	}
	35% {
		transform: scale(1);
	}
	60%{
		transform:rotateX(90deg);
	}
	65%{
		transform:rotateX(0deg);
	}
	70%{
		transform:rotateX(90deg);
	}
	90%{
		transform:rotateX(0deg);
	}
	95%{
		transform:rotateX(90deg);
	}
	100%{
		transform:rotateX(0deg);
	}
}
@keyframes pupil {
	0% {
		transform:rotateX(90deg) scale(0);
	}
	30% {
		transform:rotateX(90deg) scale(0);
	}
	35% {
		transform: rotateX(0) scale(1);
	}
	60%{
		transform:rotateX(90deg);
	}
	65%{
		transform:rotateX(0deg);
	}
	70%{
		transform:rotateX(90deg);
	}
	90%{
		transform:rotateX(0deg);
	}
	95%{
		transform:rotateX(90deg);
	}
	100%{
		transform:rotateX(0deg);
	}
}
@-moz-keyframes pupil {
	0% {
		transform:rotateX(90deg) scale(0);
	}
	30% {
		transform:rotateX(90deg) scale(0);
	}
	35% {
		transform: rotateX(0) scale(1);
	}
	60%{
		transform:rotateX(90deg);
	}
	65%{
		transform:rotateX(0deg);
	}
	70%{
		transform:rotateX(90deg);
	}
	90%{
		transform:rotateX(0deg);
	}
	95%{
		transform:rotateX(90deg);
	}
	100%{
		transform:rotateX(0deg);
	}
}
@-webkit-keyframes pupil {
	0% {
		transform:rotateX(90deg) scale(0);
	}
	30% {
		transform:rotateX(90deg) scale(0);
	}
	35% {
		transform: rotateX(0) scale(1);
	}
	60%{
		transform:rotateX(90deg);
	}
	65%{
		transform:rotateX(0deg);
	}
	70%{
		transform:rotateX(90deg);
	}
	90%{
		transform:rotateX(0deg);
	}
	95%{
		transform:rotateX(90deg);
	}
	100%{
		transform:rotateX(0deg);
	}
}
@-ms-keyframes pupil {
	0% {
		transform:rotateX(90deg) scale(0);
	}
	34% {
		transform:rotateX(90deg) scale(0);
	}
	35% {
		transform: rotateX(0) scale(1);
	}
	60%{
		transform:rotateX(90deg);
	}
	65%{
		transform:rotateX(0deg);
	}
	70%{
		transform:rotateX(90deg);
	}
	90%{
		transform:rotateX(0deg);
	}
	95%{
		transform:rotateX(90deg);
	}
	100%{
		transform:rotateX(0deg);
	}
}

	</style>
</head>
<body>
	<div id="EYE">
	    <div id="Outer">
		</div>
		<div id="Inner"></div>
	</div>
</body>
</html>